<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/daniel-olahh.jpg')"
>
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Titulok</h1>
      <h3>Nejaký podtitul</h3>
      <br />
      <a
        href="https://www.youtube.com"
        class="btn btn-outline-neutral btn-round"
        ><i class="fa fa-play"></i>Pozeraj</a
      >
      <button type="button" class="btn btn-outline-neutral btn-round">
        Tlačidlo
      </button>
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Prvý odstavec</h2>
          <h5 class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </h5>
          <br />
          <a href="#paper-kit" class="btn btn-danger btn-round">Detail</a>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-album-2"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Galéria</h4>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">Detail</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Nápad</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">Detail</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-chart-bar-32"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Štatistiky</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">Detail</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-sun-fog-29"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Design</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">Vedieť viac</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"
                ><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."
              /></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Persona 1</h4>
                  <h6 class="card-category">Product Manager</h6>
                </div>
              </a>
              <p class="card-description text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-google-plus"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"
                ><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."
              /></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Persona 2</h4>
                  <h6 class="card-category">Designer</h6>
                </div>
              </a>
              <p class="card-description text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-google-plus"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"
                ><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."
              /></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Persona 3</h4>
                  <h6 class="card-category">Developer</h6>
                </div>
              </a>
              <p class="card-description text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-google-plus"></i
              ></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center">Napíšte nám</h2>
          <form class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <p>Meno</p>
                <!--  class="input-group-->
                <div [ngClass]="{ 'input-group-focus': focus === true }">
                  <!-- <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="nc-icon nc-single-02"></i
                    ></span>
                  </div> -->
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Meno"
                    (focus)="focus = true"
                    (blur)="focus = false"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <p>Email</p>
                <!--  class="input-group-->
                <div [ngClass]="{ 'input-group-focus': focus1 === true }">
                  <!--  class="input-group" <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-email-85"></i
                    ></span>
                  </div> -->
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                  />
                </div>
              </div>
            </div>
            <p>Správa</p>
            <textarea
              class="form-control"
              rows="4"
              placeholder="Vaša správa..."
            ></textarea>
            <div class="row">
              <div
                class="col-md-4 mr-auto ml-auto d-flex justify-content-center"
              >
                <button class="btn btn-danger btn-lg btn-fill">Odoslať</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
